/* home */

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* main section */

.main {
  display: flex;
  justify-content: space-around;
  flex: 0.8;
  align-items: center;
}

.leftSection {
  margin-left: 66px;
}
/* Hero styles */
.heroContainer {
  max-width: 726px;
  margin-bottom: 26px;
}

.heroHeading {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 75px;
}

.heroSubheading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;

  color: rgba(0, 0, 0, 0.4);
}

.ctaBtn {
  width: 218px;
  height: 67px;
  margin-top: 65px;
  background-color: var(--purple);
  border-radius: 7px;
  border: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  color: #ffffff;
}

.rightSection {
  padding-right: 5%;
}


/* Hover styles */
.aboutStyle:hover {
  color: var(--purple);
}



/* Responsive Styles to hero */

/* Mobile Styles */
@media screen and (max-width: 414px) {
  
  .handcraftImgContainer {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 150px;
    margin-left: 33%;
    margin-top: 350px;

  }

  .heroContainer{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .treeImgContain {
    margin-bottom: 5%;
    margin-left: 10%;
    width: 41px;
  }

  .title {
    margin-bottom: 6%;
    font-size: 22px;
  }

  .heroHeading {
    text-align: center;
    padding-right: 30px;
    margin-right: 10%;
    margin-bottom: 300px;
    font-size: 45px;
  }

  .heroSubheading {
    font-size: 20px;
    margin-left: 5%;
  }

  .ctaBtn {
    margin-bottom: 20%;
    margin-left: 9%;
  }


}
