.navBar {
    display: flex;
    align-items: center;
    flex: 0.2;
}

.title {
    font-family: Vibur;
    font-size: 30px;
    margin-left: 1%;
    margin-top: 2%;
}

.treeImgContain {
    padding-top: 6px;
    margin-left: 67px;
}

.tree {
    object-fit: contain;
}

.linkContainer {
    display: flex;
    margin-top: 2%;
    margin-left: 55%;
    gap: 20px;
}

.links {
    font-family: Montserrat;
    font-weight: 500;
    cursor: pointer;
}

