.successHeading {
    text-align: center;
    margin-top: 7%;
}

.subHeading {
    text-align: center;
    margin-top: 2%;
}

.warningMessage {
    text-align: center;
    margin-top: 3%;
}

.linkClass {
    text-align: center;
    margin-top: 3%;
}